<div class="issues-list-component">
    <div class="component__header">
        <h1 class="header__title">{{ title() }}</h1>
        @if (!isViewer()) {
            <button class="header__new-issue-button" (click)="openNewIssueCard()" [ngClass]="isNewIssueCardOpen() ? 'header__new-issue-button--hidden' : ''">
                <span class="material-symbols-outlined header__btn-icon">add</span>
                Aggiungi issue
            </button>
        }
    </div>
    <div class="component__body">
        <div class="body__issues" [ngClass]="isNewIssueCardOpen() ? 'body__issues--hidden' : ''">
            <app-issues-filters></app-issues-filters>
            @for (issue of issues(); track $index) {
                <app-issue-card [issue]="issue"></app-issue-card>  
            }@empty {
                <p class="no-issues-label">🎉 Nessuna issue trovata — ottimo lavoro!</p>
            }
        </div>
        <div class="body__new-issue" [ngClass]="isNewIssueCardOpen() ? '' : 'body__new-issue--hidden'">
            <app-add-issue-card (close)="closeNewIssueCard()" ></app-add-issue-card>
        </div>
    </div>
</div>
